body, html {
  padding: 0;
  margin: 0;
}

div.wrapper {
  font-family: 'Nico Moji';
  width: 900px;
}

div.clearfix {
  float: none;
  clear: both;
}

div.letter-wrapper {
  max-width: 630px;
  width: 630px;
  /*padding: 1em;*/
}

.cursive {
  font-family: 'Nico Moji';
  font-size: 1.25em;
}

.letter {
  display: none;
  max-width: 100%;
  border-radius: 1em;
  position: relative;
  padding: 1em 2em;
  overflow: hidden;
  margin-top: 2em;
  margin-bottom: 2em;
}

.letter:nth-of-type(odd) {
  background-color: rgba(232, 133, 135, .5);
}

.letter:nth-of-type(even) {
  background-color: rgba(214, 183, 232, .5);
}

.letter.active {
  display: block;
}

.letter div {
  width: 100%;
}

.letter .body,
.letter .writer,
.letter .cursive {
  z-index: 5;
}

.body {
  font-size: 1em;
}

.writer {
  white-space: pre;
  margin-top: .3em;
  font-family: 'Dancing Script'
}

